<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Voxel</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#!/index">Home</a>
    </li>
  </ul>
</nav>

<div class="container-fluid global-container">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Parameters</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="" ng-click="stg.clickAdd()">
              <span data-feather="file-text"></span>
              Add User
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" ng-click="stg.clickDel()">
              <span data-feather="file-text"></span>
              Delete User
            </a>
          </li>
          <div ng-if="stg.job === '2'">
            <li class="nav-item">
            <a class="nav-link" href="" ng-click="stg.clickGilet()">
              <span data-feather="file-text"></span>
              Change Gilet
            </a>
          </li>
          </div>
          <div ng-if="stg.job === '0'">
            <li class="nav-item">
            <a class="nav-link" href="" ng-click="stg.clickModUser()">
              <span data-feather="file-text"></span>
              Modify User
            </a>
            </li>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="" ng-click="stg.clickPassword()">
              <span data-feather="file-text"></span>
              <div ng-if="stg.job === '0'">
                Change password
              </div>
              <div ng-if="stg.job === '2'">
                Change your password
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>
      <div class="row"><!--form-group-->
        <div class="col-md-12" ng-show="stg.field">
            <div ng-repeat="field in stg.field">
              <label>{{field}}: </label>
              <input type="text" ng-model=stg.data[field]></input>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="stg.submit()">Submit</button>
        </div>
      </div>
    </main>
  </div>
</div>