<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0 cursor text-white" ng-click="stg.clickIndex()">Voxel</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#!/index"><i class="fa fa-home"></i></a>
    </li>
    <li class="nav-item text-nowrap">
      <a class="nav-link cursor" ng-click="stg.logout()"><i class="fa fa-power-off"></i></a>
    </li>
  </ul>
</nav>

<div class="container-fluid global-container">
  <div class="row">
    <nav class="col-md-3 d-none d-md-block col-lg-2 bg-light sidebar scroll">
      <div class="sidebar-sticky">
        <!-- target=_self -->
        <ul class="nav flex-column flex-nowrap">
          <li class="nav-item" ng-if="stg.user.jobID.name === 'Administrator'">
                <a class="nav-link collapsed" href="#teamSubMenu" target=_self data-toggle="collapse" data-target="#teamSubMenu"><i class="fa fa-users"></i> Teams</a>
                <div class="collapse" id="teamSubMenu" aria-expanded="false">
                    <ul class="flex-column pl-2 nav">
                        <li class="nav-item">
                            <a class="nav-link py-0 cursor link" ng-click="stg.clickAction(1)"> {{ "ADD" | translate}}</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link py-0 cursor link" ng-click="stg.clickAction(2)">{{ "MODUSER" | translate}}</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link py-0 cursor link" ng-click="stg.clickAction(3)"> {{ "DEL" | translate}}</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#usersSubMenu" target=_self data-toggle="collapse" data-target="#usersSubMenu"><i class="fa fa-vcard"></i> Users</a>
                <div class="collapse" id="usersSubMenu" aria-expanded="false">
                    <ul class="flex-column pl-2 nav">
                        <li class="nav-item" ng-if="stg.user.jobID.name === 'Administrator' || stg.user.jobID.name === 'Manager'">
                            <a class="nav-link py-0 cursor link" ng-click="stg.clickAction(4)">Add</a>
                            <!-- <a class="nav-link collapsed py-1" href="#submenu1sub1" target=_self data-toggle="collapse" data-target="#submenu1sub1">Customers</a>
                            <div class="collapse" id="submenu1sub1" aria-expanded="false">
                                <ul class="flex-column nav pl-4">
                                    <li class="nav-item">
                                        <a class="nav-link p-1">
                                            <i class="fa fa-fw fa-clock-o"></i> Daily
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-1">
                                            <i class="fa fa-fw fa-dashboard"></i> Dashboard
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-1">
                                            <i class="fa fa-fw fa-bar-chart"></i> Charts
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-1">
                                            <i class="fa fa-fw fa-compass"></i> Areas
                                        </a>
                                    </li>
                                </ul>
                            </div> -->
                        </li>
                        <li class="nav-item">
                          <a class="nav-link py-0 cursor link" ng-click="stg.clickAction(5)">Update</a>
                        </li>
                        <li class="nav-item" ng-if="stg.user.jobID.name === 'Administrator' || stg.user.jobID.name === 'Manager'">
                          <a class="nav-link py-0 cursor link" ng-click="stg.clickAction(6)">Delete</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item" ng-if="stg.user.jobID.name === 'Administrator' || stg.user.jobID.name === 'Manager'">
                <a class="nav-link collapsed" href="#jacketSubMenu" target=_self data-toggle="collapse" data-target="#jacketSubMenu"><i class="fa fa-tag"></i> Jackets</a>
                <div class="collapse" id="jacketSubMenu" aria-expanded="false">
                    <ul class="flex-column pl-2 nav">
                        <li class="nav-item" ng-if="stg.user.jobID.name === 'Administrator' || stg.user.jobID.name === 'Manager'">
                            <a class="nav-link py-0 cursor link" ng-click="stg.clickAction(7)">Add</a>
                        </li>
                        <li class="nav-item" ng-if="stg.user.jobID.name === 'Administrator' || stg.user.jobID.name === 'Manager'">
                          <a class="nav-link py-0 cursor link" ng-click="stg.clickAction(8)">Update</a>
                        </li>
                        <li class="nav-item" ng-if="stg.user.jobID.name === 'Administrator' || stg.user.jobID.name === 'Manager'">
                          <a class="nav-link py-0 cursor link" ng-click="stg.clickAction(9)">Delete</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item" ng-if="stg.user.jobID.name === 'Administrator' || stg.user.jobID.name === 'Manager'">
                <a class="nav-link collapsed" href="#sensorsSubMenu" target=_self data-toggle="collapse" data-target="#sensorsSubMenu"><i class="fa fa-thermometer-half"></i> Sensors</a>
                <div class="collapse" id="sensorsSubMenu" aria-expanded="false">
                    <ul class="flex-column pl-2 nav">
                        <li class="nav-item" ng-if="stg.user.jobID.name === 'Administrator' || stg.user.jobID.name === 'Manager'">
                            <a class="nav-link py-0 cursor link" ng-click="stg.clickAction(10)">Add</a>
                        </li>
                        <li class="nav-item" ng-if="stg.user.jobID.name === 'Administrator' || stg.user.jobID.name === 'Manager'">
                          <a class="nav-link py-0 cursor link" ng-click="stg.clickAction(11)">Update</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ "TDASHBOARD" | translate}}</h1>
      </div>
      <div class="row">
        <div class="col-md-12 alert alert-danger" role="alert" ng-show="stg.error">
          {{ stg.error }}
        </div>

        <div class="col-md-12 alert alert-success" role="alert" ng-show="stg.success">
          {{ stg.success }}
        </div>

        <!-- Add a team -->
        <div class="col-md-12 form-group" ng-show="stg.action === 1">
          <label>Team name: </label>
          <input type="text" class="form-control" ng-model="stg.data.name">
        </div>

        <!-- Update a team -->
        <div class="col-md-12 form-group" ng-show="stg.action === 2">
          <label>Team name: </label>
          <select class="form-control" ng-model="stg.data._id" ng-change="stg.chgTeam()">
            <option ng-repeat="team in stg.teams" value="{{ team._id }}">{{ team.name }}</option>
          </select>

          <label>New team name: </label>
          <input type="text" class="form-control" ng-model="stg.data.new">
        </div>

        <!-- Remove a team -->
        <div class="col-md-12 form-group" ng-show="stg.action === 3">
          <label>Team name: </label>
          <select class="form-control" ng-model="stg.data._id">
            <option ng-repeat="team in stg.teams" value="{{ team._id }}">{{ team.name }}</option>
          </select>
        </div>

        <!-- Add an user -->
        <div class="col-md-12 form-group" ng-show="stg.action === 4">
          <label>Username: </label>
          <input type="text" class="form-control" ng-model="stg.data.username">

          <label>Password: </label>
          <input type="password" class="form-control" ng-model="stg.data.password">

          <label>Team: </label>
          <select class="form-control" ng-model="stg.data.teamID">
            <option ng-repeat="team in stg.teams" value="{{ team._id }}">{{ team.name }}</option>
          </select>

          <label>Job: </label>
          <select class="form-control" ng-model="stg.data.jobID">
            <option ng-repeat="job in stg.jobs" value="{{ job._id }}">{{ job.name }}</option>
          </select>
        </div>

        <!-- Update an user -->
        <div class="col-md-12 form-group" ng-show="stg.action === 5">
          <div ng-if="stg.user.jobID.name === 'Administrator' || stg.user.jobID.name === 'Manager'">
            <label>Username: </label>
            <select class="form-control" ng-model="stg.data._id" ng-change="stg.chgUser()">
              <option ng-repeat="user in stg.users" value="{{ user._id }}">{{ user.username }}</option>
            </select>
          </div>

          <div ng-if="stg.user.jobID.name === 'Administrator'">
            <label>New username: </label>
            <input type="text" class="form-control" ng-model="stg.data.username">
          </div>

          <div ng-if="stg.user.jobID.name === 'Member'">
            <label>New password: </label>
            <input type="password" class="form-control" ng-model="stg.data.password">
          </div>

          <!-- Maybe confirm password -->

          <div ng-if="stg.user.jobID.name === 'Administrator'">
            <label>Team: </label>
            <select class="form-control" ng-model="stg.data.teamID">
              <option ng-repeat="team in stg.teams" value="{{ team._id }}">{{ team.name }}</option>
            </select>
          </div>

          <div ng-if="stg.user.jobID.name === 'Administrator' || stg.user.jobID.name === 'Manager'">
            <label>Job: </label>
            <select class="form-control" ng-model="stg.data.jobID">
              <option ng-repeat="job in stg.jobs" value="{{ job._id }}">{{ job.name }}</option>
            </select>
          </div>
        </div>

        <!-- Delete an user -->
        <div class="col-md-12 form-group" ng-show="stg.action === 6">
          <label>Username: </label>
          <select class="form-control" ng-model="stg.data._id">
            <option ng-repeat="user in stg.users" value="{{ user._id }}">{{ user.username }}</option>
          </select>
        </div>

        <!-- Add a jacket -->
        <div class="col-md-12 form-group" ng-show="stg.action === 7">
          <label>Identifier: </label>
          <input type="text" class="form-control" ng-model="stg.data.identifier">

          <label>Assign to: </label>
          <select class="form-control" ng-model="stg.data.userID">
            <option ng-repeat="user in stg.users" value="{{ user._id }}">{{ user.username }}</option>
          </select>
        </div>

        <!-- Update a jacket -->
        <div class="col-md-12 form-group" ng-show="stg.action === 8">
          <label>Jackets: </label>
          <select class="form-control" ng-model="stg.data._id" ng-change="stg.chgJacket()">
            <option ng-repeat="jacket in stg.jackets" value="{{ jacket._id }}">{{ jacket.identifier }}</option>
          </select>

          <label>Assign to: </label>
          <select class="form-control" ng-model="stg.data.userID">
            <option ng-repeat="user in stg.users" value="{{ user._id }}">{{ user.username }}</option>
          </select>
        </div>

        <!-- Remove a jacket -->
        <div class="col-md-12 form-group" ng-show="stg.action === 9">
          <label>Jackets: </label>
          <select class="form-control" ng-model="stg.data._id">
            <option ng-repeat="jacket in stg.jackets" value="{{ jacket._id }}">{{ jacket.identifier }}</option>
          </select>
        </div>

        <!-- Add a sensor -->
        <div class="col-md-12 form-group" ng-show="stg.action === 10">
          <label>Sensor type: </label>
          <input type="text" class="form-control" ng-model="stg.data.name">
        </div>

        <!-- Update a sensor -->
        <div class="col-md-12 form-group" ng-show="stg.action === 11">
          <label>Sensor type: </label>
          <select class="form-control" ng-model="stg.data._id" ng-change="stg.chgSensor()">
            <option ng-repeat="sensor in stg.sensors" value="{{ sensor._id }}">{{ sensor.type }}</option>
          </select>

          <label>New sensor name: </label>
          <input type="text" class="form-control" ng-model="stg.data.new">
        </div>

        <!-- Remove a sensor type -->
        <div class="col-md-12 form-group" ng-show="stg.action === 12">
          <label>Sensor type: </label>
          <select class="form-control" ng-model="stg.data._id">
            <option ng-repeat="sensor in stg.sensors" value="{{ sensor._id }}">{{ sensor.type }}</option>
          </select>
        </div>

        <div class="col-md-12" ng-if="stg.action !== null">
          <label></label>
          <button type="button" class="btn btn-success btn-lg btn-block" ng-click="stg.submit()">{{ "SUBMIT" | translate}}</button>
        </div>
      </div>
    </main>
  </div>
</div>