<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0 cursor text-white" ng-click="iwc.clickIndex()">Voxel</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#!/settings"><i class="fa fa-cog"></i></a>
    </li>
    <li class="nav-item text-nowrap">
      <a class="nav-link cursor" ng-click="iwc.logout()"><i class="fa fa-power-off"></i></a>
    </li>
  </ul>
</nav>

<div class="container-fluid global-container">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar scroll">
      <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Users</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item" ng-repeat="user in iwc.users">
            <a class="nav-link cursor link" ng-click="iwc.clickUser(user)">
              <span data-feather="file-text"></span>
              {{ user.username }}
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>
      <div class="row">
        <div class="col-md-12" ng-show="iwc.user">
          <h3>Username : {{ iwc.user.username }}</h3>
          <p>Jacket : {{ iwc.user.jacket.identifier }}</p>
          <p>Team : {{ iwc.user.teamID.name }}</p
        </div>
        <div class="col-md-12" ng-show="iwc.user_data">
          <div ng-repeat="data in iwc.user_data">
            <p>Date : {{ data.date }}</p>
            <p><b>Sensor type : </b> {{ data.sensorID.type }}</p>
            <p>Sensors : </p>
            <p ng-if="data.typeid === '000'">
              <ul class="row">
                <li class="col" ng-repeat="coordinate in data.coordinates">
                  <p>X: {{coordinate.x}} </p>
                  <p>Y: {{coordinate.y}} </p>
                  <p>Z: {{coordinate.z}} </p>
                </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>